/* @import url('https://googleapis.com'); */
nav{
    position: absolute;
    left: 1%;
}
#logo{
    font-family: 'Inter', sans-serif;
    font-size: 200px;
    font-weight: 700;
    letter-spacing: -3%;
    /* line-height: 120%; */
    color: black;

}
#logo-subtitle{
    font-family: 'Material Symbols Rounded Variable'; /*this font doesnt work idk why*/
    font-size: 32px;
    font-weight: 400;
    padding-left: 20%;
    line-height: 120%;
    color: black;

    
}

#billys-drawer{
    width: 20%;
    height: 380px;
    background-repeat: no-repeat; 
    background-size: cover ; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

#billy{
    transform: rotate(-12deg);
    height: 300px;
}
/* puzzle pieces have absolute position is there a better way? */
#billys-piece-1{
    height: 75px;
    position: absolute;
    transform: rotate(-15deg);
    top: 60%;

}
#billys-piece-2{
    height: 75px;
    position: absolute;
    transform: rotate(20deg);
    top: 61%;
    padding-right: 10%;
  /* left: 65%; */

}
#billys-piece-3{
    height: 75px;
    position: absolute;
    transform: rotate(-25deg);
    top: 20%;
    padding-right: 10%;
    padding-top: 8%;
    padding-bottom: 4%;
  /* left: 68%; */
  
}
#billys-piece-4{
    height: 75px;
    position: absolute;
    transform: rotate(-60deg);
    top: 43%;
    padding-right: 1%;
    padding-top: 2%;
  
  /* left: 73%; */
 
}

.puzzle-piece, .puzzle-piece:hover  {
    background-color: transparent;  
}
.upload-container {
    background-repeat: no-repeat;
    border: 10px solid black; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

#drop-area {
    width: 100%;
    height: 100%;
    text-align: center;
}
#image-view {
    width: 100%;
    height: 100%;
}
#image-view p {
    font-size: 30px;
    color: black;
}
#image-view i {
    padding-top: 20%;
    font-size: 50px;
    color: black;
}
#image-view span {
    display: block;
    font-size: 18px;
    color: black;
}

