.bubble-speech {
    position: absolute;
    left:65%;
    bottom: 88%;
    background: #d9d9d9;
    color: #000000;
    font-family: Arial;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius: 100%;
    padding-bottom: 0px;
    padding-top: 20px;
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    
}
.bubble-speech:after {
  content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #d9d9d9 transparent transparent transparent;
    bottom: -20px;
    left: 27%;
    margin-left: -10px;
}
#billys-drawer:hover .bubble-speech{
  opacity: 1;
}

nav{
    position: absolute;
    width: 20%;
    /* left: 7%; */
}

#logo{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3%;
    line-height: 120%;
    color: black;
    margin: unset;

}
#page-text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*this font doesnt work idk why*/
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
    color: black;
    width: 20%;
    word-spacing: 10px;
    
}
#puzzle-board{
 
}

#billys-drawer{
    width: 20%;
    height: 380px;
    background-repeat: no-repeat; 
    background-size: cover ; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    animation: openDrawer 5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes openDrawer {
0% {
    transform: translateX(-100%);
    
  }

  100% {
    transform: translateX(0);
  } 
  
}

.fall-into-place{
    opacity: 0;
    animation-name: dropDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}


#billy{
    transform: rotate(-12deg);
    height: 300px;
    
}

#billys-piece-1{
    height: 75px;
    position: absolute;
    transform: rotate(40deg);
    top: 65%;
    left: 10%;
}
#billys-piece-2{
    height: 75px;
    position: absolute;
    transform: rotate(-60deg);
    top: 78%;
}
#billys-piece-3{
    height: 75px;
    position: absolute;
    transform: rotate(-35deg);
    top: 50%;
    left: 48%;
}
#billys-piece-4{
    height: 75px;
    position: absolute;
    transform: rotate(-20deg);
    top: 52%;
    left: 75%;
}


.puzzle-piece, .puzzle-piece:hover  {
    background-color: transparent;  
}
.upload-container {
    background-repeat: no-repeat;
    border: 10px solid black; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    z-index: 1;
    
}

#drop-area {
    width: 100%;
    height: 100%;
    text-align: center;
}
#image-view {
    width: 100%;
    height: 100%;
}
#image-view p {
    font-size: 30px;
    color: black;
}
#image-view i {
    padding-top: 20%;
    font-size: 50px;
    color: black;
}
#image-view span {
    display: block;
    font-size: 18px;
    color: black;
}

/* .button{
    position: relative;
    font-size: 15px;
    transform: rotate(-10deg);
    text-indent: 12px;
    

} */