.bubble-speech {
    position: absolute;
    left:60%;
    bottom: 88%;
    background: #d9d9d9;
    color: #000000;
    font-family: Arial;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius: 100%;
    padding-bottom: 0px;
    padding-top: 20px;
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    
}
.bubble-speech:after {
  content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #d9d9d9 transparent transparent transparent;
    bottom: -20px;
    left: 27%;
    margin-left: -10px;
}
#billys-drawer:hover .bubble-speech{
  opacity: 1;
}

nav{
    position: absolute;
    width: 20%;
    /* left: 7%; */
}

#logo{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -3%;
    line-height: 120%;
    color: black;
    margin: unset;

}
#page-text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*this font doesnt work idk why*/
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
    color: black;
    width: 20%;
    word-spacing: 10px;
    
}
#puzzle-board{
 
}

#billys-drawer{
    width: 20%;
    height: 380px;
    background-repeat: no-repeat; 
    background-size: cover ; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    animation: openDrawer 5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes openDrawer {
0% {
    transform: translateX(-100%);
    
  }

  100% {
    transform: translateX(0);
  } 
  
}

.fall-into-place{
    opacity: 0;
    animation-name: dropDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}


#billy{
    transform: rotate(-12deg);
    height: 300px;
    
}

#billys-piece-1{
    height: 75px;
    position: absolute;
    transform: rotate(40deg);
    top: 65%;
    left: 10%;
}
#billys-piece-2{
    height: 75px;
    position: absolute;
    transform: rotate(-60deg);
    top: 78%;
}
#billys-piece-3{
    height: 75px;
    position: absolute;
    transform: rotate(-35deg);
    top: 50%;
    left: 48%;
}
#billys-piece-4{
    height: 75px;
    position: absolute;
    transform: rotate(-20deg);
    top: 52%;
    left: 75%;
}


.puzzle-piece, .puzzle-piece:hover, .input-field {
    background-color: transparent;  
}
.upload-container {
    background-repeat: no-repeat;
    border: 10px solid black; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    z-index: 1;
    
}

#drop-area {
    width: 100%;
    height: 100%;
    text-align: center;
}
#image-view {
    width: 100%;
    height: 100%;
    background-size: contain;
}
#image-view p {
    font-size: 30px;
    color: black;
}
#image-view i {
    padding-top: 20%;
    font-size: 50px;
    color: black;
}
#image-view span {
    display: block;
    font-size: 18px;
    color: black;
}

.puzzle-shape{
    display: inline-block;
    padding: 20px;
    
}

#cols-input{
    transform: rotate(25deg);
    width: 90px;
    height: 90px; 
    background-color: #FF6776; 
    color: black;
    text-align: center;
    font-size: 25px;
    border: none;
    outline: none;

    clip-path: path('M39.5898 0C45.6109 0 50.5051 4.45465 50.6484 10H78.6885V39.0059C78.7703 39.0042 78.8523 39 78.9346 39C85.0459 39 90 43.5891 90 49.25C90 54.9109 85.0459 59.5 78.9346 59.5C78.8523 59.5 78.7703 59.4948 78.6885 59.4932V90H51.1406C50.9973 84.4546 46.1031 80 40.082 80C34.061 80.0001 29.1668 84.4547 29.0234 90H0L0 10L28.5312 10C28.6746 4.45474 33.5689 0.000157573 39.5898 0Z');
    cursor: text;
}
#rows-input{
    margin-right: 50px;
    transform: rotate(-10deg);
    width: 89px;
    height: 100px; 
    background-color: #72FFF3; 
    color: black;
    text-align: center;
    font-size: 25px;
    border: none;
    outline: none;

    clip-path: path('M48.6572 0C54.6439 0.000202394 59.5098 4.43258 59.6523 9.9502H89V39.8066C83.0365 39.9274 78.2422 44.4432 78.2422 50C78.2422 55.5569 83.0365 60.0716 89 60.1924V89.5527H61.1201C61.1222 89.6352 61.127 89.7178 61.127 89.8008C61.127 95.4334 56.2005 99.9999 50.124 100C44.0474 100 39.1211 95.4335 39.1211 89.8008C39.1211 89.7178 39.1258 89.6352 39.1279 89.5527H10.7578V60.1924C4.79431 60.0716 0 55.5569 0 50C1.75529e-05 44.4432 4.79432 39.9274 10.7578 39.8066V9.9502H37.6611C37.8037 4.43264 42.6706 0.000321539 48.6572 0Z');
    cursor: text;
}
.puzzle-input::placeholder {
    color: black;
    font-size: 15px;

}
#puzzlify-button{
    margin-left: 50px;
    transform: rotate(35deg);
    width: 79.5px;
    height: 79.5px;
    background-color: #9DFF64; 
    color: black;
    text-align: center;
    font-size: 12px;
    border: none;
    outline: none;
    clip-path: path('M28.8193 0.248047C28.8193 5.87358 33.8247 10.4346 39.999 10.4346C46.1732 10.4344 51.1787 5.87347 51.1787 0.248047C51.1787 0.165101 51.174 0.0824711 51.1719 0L79.5 0V29.8184C73.4406 29.9389 68.5696 34.4484 68.5693 39.998C68.5693 45.5479 73.4405 50.0572 79.5 50.1777V79.5H51.1719C51.0271 73.9894 46.082 69.5627 39.999 69.5625C33.9158 69.5625 28.971 73.9893 28.8262 79.5H0L0 50.1777C0.0826876 50.1794 0.165903 50.1846 0.249023 50.1846C6.42322 50.1844 11.4287 45.6235 11.4287 39.998C11.4285 34.3728 6.42307 29.8127 0.249023 29.8125C0.165908 29.8125 0.0826825 29.8167 0 29.8184L0 0L28.8262 0C28.824 0.0824779 28.8193 0.165095 28.8193 0.248047Z');
}
#print-button{
    margin-right: 50px;
    margin-left: 50px;
    transform: rotate(-15deg);
    width: 89px;
    height: 79px;
    background-color: #FFC756; 
    color: black;
    text-align: center;
    font-size: 12px;
    border: none;
    outline: none;
    clip-path: path('M28.207 0.24707C28.2071 5.83707 33.1061 10.369 39.1494 10.3691C45.1928 10.3691 50.0917 5.83714 50.0918 0.24707C50.0918 0.164447 50.0871 0.0821495 50.085 0H77.8145V29.6309C77.8953 29.6292 77.9763 29.625 78.0576 29.625C84.101 29.625 89 34.1569 89 39.7471C88.9999 45.3371 84.101 49.8691 78.0576 49.8691C77.9763 49.8691 77.8953 49.8649 77.8145 49.8633V79H51.5449C51.403 73.5241 46.5635 69.125 40.6094 69.125C34.6554 69.1251 29.8157 73.5241 29.6738 79H0V51.3438C0.0808699 51.3454 0.161871 51.3506 0.243164 51.3506C6.28648 51.3506 11.1863 46.8185 11.1865 41.2285C11.1865 35.6384 6.28661 31.1064 0.243164 31.1064C0.161882 31.1064 0.080859 31.1097 0 31.1113V0H28.2139C28.2117 0.0821495 28.207 0.164447 28.207 0.24707Z');
}

/* .button{
    position: relative;
    font-size: 15px;
    transform: rotate(-10deg);
    text-indent: 12px;
    

} */